.container {
   display: flex;
   flex-flow: column;
}

.cards {
   display: flex;
   flex-flow: wrap;
   width: 950px;
}

@media (max-width: 950px) {
   .cards {
      width: auto;
      justify-content: center;
   }
}
